#!/usr/bin/make -f

#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/makefile.mk

%:
	dh $@ --with python-central

override_dh_installinit:
	dh_installinit --after dh_pycentral --noscripts

